<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="row">
                
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder"></h1>

                    <p class="lead mb-3 mt-3"></p>

                    <p class="fs-5 mb-3"><i class="fa-regular fa-clock" style="color: #8c5827;"></i>  Tempo di preparazione: min</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-sliders" style="color: #8c5827;"></i>  Difficoltà: </p>
                    <div class="col-md-6">immagine</div>
                </div>
            </div>
            <div class="row rouded mt-5">
                <div class="col-md-6">
                    <h3 class="display-5 text-center">Ingredienti</h3>
                    <input class="form-control" type="text" >
                </div>
                <div class="col-md-6">
                    <h3 class="display-5 text-center">Istruzioni per la preparazione</h3>
                    <input class="form-control" type="text" >
                </div>              
            </div>
        </div>
    </div>
</section>