<div class="mt-5">
    <div class="card border-0">

        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/logo.png" class="img-fluid rounded-start" alt="...">
          </div>
    
          <div class="col-md-8">
    
            <div class="card-body">
              <h5 class="fs-1">Nome Ricetta</h5>
              <p class="card-text">Descrizione della ricetta</p>
    
              <div class="d-flex justify-content-between card-text " >
                <p class="card-text"><span class="text-muted">Tempo di Esecuzione: 90 min</span></p>
                <p class="d-flex">Dififcolta <img src="../assets/img/stella.svg" class="img-fluid" ></p>
              </div>
              
            </div>
          </div>
    
        </div>
    
    </div>
    <hr>
</div>
