<div class="mt-5" *ngFor="let ricetta of ricetteservice.listaRicette">
    <div class="card border-0" (click)="mostraDettagli($event, ricetta.id)">

        <div class="row g-0">
          <div class="col-md-4">
            <img src={{ricetta.URLimmagine}} class="img-fluid rounded-start" alt="...">
          </div>
    
          <div class="col-md-8">
    
            <div class="card-body">
              
              <h5 class="fs-1">{{ricetta.nome}}</h5>
              <p class="card-text">{{ricetta.descrizione}}</p>

              <div class="d-flex justify-content-between card-text">
                <p class="card-text"><span class="text-muted">Tempo di Esecuzione: {{ricetta.tempoTotale}} min</span></p>
                <p class="d-flex"><span class="text-muted">Difficoltà: {{ricetta.difficolta}}</span> </p>
              </div>
            </div>
          </div>
    
        </div>
    
    </div>
    <div class="d-flex justify-content-end menuRicetta">
      <div class="m-3" (click)="cancellaRicetta(ricetta.id)">
        <i class="fa-solid fa-trash fa-xl" ></i>
      </div>

      <div class="m-3" (click)="modificaRicetta($event, ricetta.id)">
        <i class="fa-solid fa-pencil fa-xl"></i>
      </div>

    </div>
    <hr>
</div>
