<div class="container position-relative text-center">
    <img class="img-fluid m-2 rounded" src="../assets/img/logo.png">
    <div class="row justify-content-center">
      <form action="" method="post" class="d-flex">
        <input class="form-control form-control-lg" type="search" placeholder="Cerca una ricetta.." aria-label="Search" name="nome">
        <button class="btn btn-outline-danger" type="submit" >Cerca</button> 
      </form>
    </div>
  
    <app-preview-ricetta></app-preview-ricetta>
  
  </div>
