<div class="container position-relative text-center">
    <img class="img-fluid m-2 rounded" src="../assets/img/logo.png">
    <div class="row justify-content-center">
      <div class="d-flex mb-2">
        <input class="form-control form-control-lg me-3" type="search" placeholder="Cerca una ricetta.." aria-label="Search" 
            #txtRicercaNome name="nome" (keyup)="cercaRicetta(txtRicercaNome.value, txtRicercaIngrediente.value)">

          <input class="form-control form-control-lg me-3" type="search" placeholder="Cerca un ingrediente.." aria-label="Search" 
            #txtRicercaIngrediente name="nome" (keyup)="cercaRicetta(txtRicercaNome.value, txtRicercaIngrediente.value)">
        <button class="btn btn-outline-danger" (click)="cercaRicetta(txtRicercaNome.value, txtRicercaIngrediente.value)">Cerca</button> 
      </div>  
    </div>
  
    <app-preview-ricetta></app-preview-ricetta>
  
  </div>
