<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="row">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded" src={{ricetta.URLimmagine}} alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ricetta.nome}}</h1>

                    <p class="lead mb-3 mt-3">{{ricetta.descrizione}}</p>

                    <p class="fs-5 mb-3"><i class="fa-regular fa-clock" style="color: #8c5827;"></i>  Tempo di preparazione: {{ricetta.tempoTotale}} min</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-sliders" style="color: #8c5827;"></i>  Difficoltà: {{ricetta.difficolta}}</p>
                    
                </div>
            </div>
            <div class="row rouded mt-5">
                <div class="col-md-6">
                    <h3 class="display-5 text-center">Ingredienti</h3>
                    <p class="text-decoration-line fs-5" *ngFor="let ingrediente of ricetta.ingredienti; index as i">{{ricetta.ingredienti[i].quantita}} {{ricetta.ingredienti[i].nome}}</p>
                    <p class="d-flex mt-5">Dosi <input class="form-control text-center me-3" id="inputQuantity" type="number" min="1" [value]="numeroPersone" #NumeroPersone /> Persone</p>
                </div>
                <div class="col-md-6">
                    <h3 class="display-5 text-center">Istruzioni per la preparazione</h3>
                    <p class="text-decoration-line fs-5" *ngFor="let passaggio of ricetta.preparazione; index as i">{{i+1}}. {{ricetta.preparazione[i]}}</p>
                </div>              
            </div>
        </div>
    </div>
</section>